html, body {
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 70em;
  color: black;
}

body {
  font: 12px Verdana Arial;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.4em;
}

body > *:first-child {
  margin-top: 0 !important;
}

body > *:last-child {
  margin-bottom: 0 !important;
}

h1, h2, h4, h5 {
  margin: 0.5em 0px;
}

ul {
  padding-left: 1em;
  margin: 0;
}

p {
  margin: 0 0;
}

.lr-split {
  display: flex;
  justify-content: space-between;
}

.skills {
  width: 100%;
  text-align: center;
}

#skills {
  margin-bottom: 0px;
}

#projects {
  display: flex;
  justify-content: space-between;
}

#projects-text {
  flex-direction: column;
}

/* PDF-only settings */
@page {
  size: letter;
  padding-left: 0em;
  margin: 3mm 0mm;
}

/* HTML-only settings */
@media screen {
  a:visited {
    color: #0000FF;
  }

  h2 {
    color: rgb(130, 130, 250);
    border-bottom: solid 1px;
  }
}
